body {
    position: relative;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
  color: black;
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
  background-color: #00cc99;
}

@media only screen and (max-width: 990px) {
  .navbar-light .navbar-nav .nav-link.active {
    color: black;
    background-color: #ECF0F1;
  }
}