.card-img ~ .imagetxt {
    color: rgba(255, 0, 0, 0);
}

.card-img:hover ~ .imagetxt {
    color: white;
}

.card-img {
    cursor: pointer;
    border-radius: 0;
}

.card {
    border-radius: 0;
    margin: 0;
    padding: 0;
}
.borderline {
    background-color: black;
    height: auto;
}

.borderline:after {
    content: "";
    display: block;
    width: 0%;
    border-bottom: 4px solid white;
    transition: 0.5s;
}

.borderline:hover:after {
    width: 100%;
}

.imagetitle {
    font-size: 32px;
}

.imagetxt {
    width: 100%;
    height: 100%;
}

.imagetxt:hover {
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.219);
}